@model IEnumerable<IdentityPro.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form asp-action="Index" method="get">
    <label for="startDate">Start Date:</label>
    <input type="date" name="startDate" required>

    <label for="endDate">End Date:</label>
    <input type="date" name="endDate" required>

    <button type="submit">Filter</button>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                Products
            </th>
            <th>
                User
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
                <td>
                    <ul>
                        @foreach (var product in item.Products)
                        {
                            <li>
                                <a asp-action="Details" asp-controller="OrderItems" asp-route-id="@product.Id">
                                    @product.Name
                                </a>
                            </li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



