@model IEnumerable<IdentityPro.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="ice_special shop_wrapper">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <!-- Adjust the column sizes for the desired size -->
            <div class="special_section text-center wow slideup">
                <div class="special_img">
                    <img src="@product.ImagePath" alt="@product.Name" class="img-responsive">
                </div>
                <h2 class="ice_sub_heading">
                    <a asp-action="Details" asp-route-id="@product.Id">
                        <i class="flaticon-check"></i> @product.Name
                    </a>
                </h2>
                <p>@product.Description</p>
                <div class="wishlist_wrapper">
                    <span class="pull-left">$@product.Price</span>
                </div>
                <div class="product-links">
                    <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@product.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

