@*@model IEnumerable<Ice_cream_shop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flavor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flavor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@

@model IEnumerable<IdentityPro.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="ice_special shop_wrapper">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <!-- Adjust the column sizes for the desired size -->
            <div class="special_section text-center wow slideup">
                <div class="special_img">
                    <img src="@product.ImagePath" alt="@product.Name" class="img-responsive">
                </div>
                <h2 class="ice_sub_heading">
                    <a asp-action="Details" asp-route-id="@product.Id">
                        <i class="flaticon-check"></i> @product.Name
                    </a>
                </h2>
                <p>@product.Description</p>
                <div class="wishlist_wrapper">
                    <span class="pull-left">$@product.Price</span>
                </div>
                <div class="product-links">
                    <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@product.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

