@model IdentityPro.Controllers.DefaultController.InputModel

@*@model IdentityPro.Controllers.PaymentWithPayPal
*@

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ice_main_section1">
	<div class="container">
		@if(ViewBag.ErrorMessage != null)
{
			<script>
				alert("@ViewBag.ErrorMessage");
				redirectToSpecificPage();
				function redirectToSpecificPage() {
					window.location.href = '/Identity/Account/Register'; // Replace with your actual page URL
				}
			</script>
}
		<div class="row">
			<div class="col-lg-12">
				<div class="woocommerce">
					<div class="row">
						<form asp-controller="Default" asp-action="UpdateCheckout" method="post" class="checkout woocommerce-checkout col-sm-12">
							<input type="hidden" name="orderid" value="@Model.MyOrder.Id" />
							<div class="row">
								<div class="col-md-6">
									<div class="customer_details">
										<div class="woocommerce-billing-fields">
											<h3>Billing Details</h3>

											<p>
												<label asp-for="City" class="form-label"></label>
												<input asp-for="City" class="input-text" />
												<span asp-validation-for="City" class="text-danger"></span>
											</p>

											<p>
												<label asp-for="Street" class="form-label"></label>
												<input asp-for="Street" class="input-text" />
												<span asp-validation-for="Street" class="text-danger"></span>
											</p>

											<p>
												<label asp-for="Apartment" class="form-label"></label>
												<input asp-for="Apartment" class="input-text" />
												<span asp-validation-for="Apartment" class="text-danger"></span>
											</p>

											<div class="row">
												<div class="col-lg-6 col-md-6">
													<p>
														<label asp-for="ZipCode" class="form-label"></label>
														<input asp-for="ZipCode" />
														<span asp-validation-for="ZipCode" class="text-danger"></span>
													</p>
												</div>
											</div>
											
										</div>
										<div class="woocommerce-shipping-fields">
											<h3>Additional Information</h3>
											<h4>order notes</h4>
											<p class="form-row form-row notes" id="order_comments_field">
												<textarea name="order_comments" id="order_comments" rows="2" cols="5"></textarea>
												<label for="order_comments">Notes about your order, e.g. special notes for delivery.</label>
											</p>
										</div>
									</div>
								</div>


								<div class="col-md-6">
									<h3>Your order</h3>
									<div class="woocommerce-checkout-review-order">
										<table class="shop_table woocommerce-checkout-review-order-table">
											<thead>
												<tr>
													<th class="product-name">Product</th>
													<th class="product-total">Total</th>
												</tr>
											</thead>
											<tbody>
											<!-- Loop through cart items and display them as table rows -->
											@if (Model.MyOrder.Products != null && Model.MyOrder.Products.Any())
											{
												@for (var i = 0; i < Model.MyOrder.Products.Count; i++)
												{
													var product = Model.MyOrder.Products[i];
													<tr class="cart_item">
															<td class="product-thumbnail">
																<a href="#"><img src="@product.ImagePath" alt="@product.Name" class="img-responsive cart-item-image small-image-checkout"></a>
															</td>
														<td class="product-name">
															@product.Name&nbsp;
															<strong class="product-quantity">× @product.Amount</strong>
														</td>
														<td class="product-total">
															<div><span class="amount">$@(product.Price * product.Amount)</span></div>
														</td>
													</tr>
												}
											}
											else
											{
												<tr>
													<td colspan="2">Your cart is empty.</td>
												</tr>
											}
										</tbody>
											<tfoot>
												<tr class="order-total">
													<th>Total</th>
													<td><div><strong><span class="amount">$120.00</span></strong></div> </td>
												</tr>
											</tfoot>
										</table>

										<div id="payment" class="woocommerce-checkout-payment">
											<ul class="payment_methods methods">
												<li>
													<div class="ice_radio_box">
														<input type="radio" id="radio1" name="radio">
														<label for="radio1">cash on delivery</label>
													</div>
												</li>
												@*<li>
													<div class="ice_radio_box">
														<a href="/PaymentWithPayPal/Index?orderAmount=" + orderAmount class="btn btn-primary">Pay with PayPal</a>
														<input type="radio" id="radio2" name="radio">
														<label for="radio2">PayPal</label>
													</div>
												</li> *@
											</ul>

											<div class="form-row place-order">
												<input type="submit" class="ice_btn alt" name="woocommerce_checkout_place_order" id="place_order" value="Place order" data-value="Place order">
											</div>

										</div>

									</div>


								</div>
							</div>

						</form>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<script>
    // Set the value of the hidden input field with the orderid from local storage
    document.getElementById('orderid').value = localStorage.getItem('orderid');
	var orderAmount = document.getElementById('cartTotal').value;
</script>

